# Entorno virtual
venv/
Lib
Inlcude
Scripts
pyvenv.cfg

# Archivos de configuración locales
.env

# Archivos compilados de Python
*.pyc
__pycache__/
__pycache__
.vscode
db.sqlite

# Configuraciones del IDE (opcional)
.vscode/
.idea/
*.swp
