# Entorno virtual
venv/

# Archivos de configuración locales
.env

# Archivos compilados de Python
*.pyc
__pycache__/

# Configuraciones del IDE (opcional)
.vscode/
.idea/
*.swp

# Base de Datos
db.sqlite3