{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        .titulo {
            color: #77a752;
        }
        .subtitulo {
            background-color: #bbe66b;
        }
        #imagen{
            height: 400px;
            width: 400px;
            border-radius: 4px;
        }
    </style>

    <div id="contenido" class="container-fluid container-lg">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
                <h5 class="subtitulo"><a class="text-white text-decoration-none" href="{{ proyecto.link }}/{{ proyecto.id }}">{{ proyecto.nombre }}</a></h5>
                <h3 class="titulo">{{ seccion.titulo }}</h3>
                {{ seccion.descripcion|safe }}
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xxl-4">
                <div  id="imagen"
                     style="background-image: url('{% static seccion.imagen %}');
                             background-position: center;
                             height: 300px;
                             background-size: contain;
                             background-repeat: no-repeat">
                </div>
                <div class="d-none d-md-block p-3 mt-3" style="background-color: #bbe66b; width:400px;">
                    <h5>Artículos Relacionados</h5>
                    <hr>
                    {% for a in articulos %}
                        <p><a class="text-decoration-none"style="color: #47773d;" href="{{ a.link }}/{{ a.id }}">{{ a.titulo }}</a></p>
                    {%  endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pt-3 text-secondary">
                <h3 class="titulo">Disciplinas de Interés</h3>
                <ul class="lista-flechas">
                {% for s in secciones %}
                    <li><a class="text-decoration-none text-secondary" href="{{ s.link }}/{{ s.id }}">{{ s.titulo }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="d-block d-md-none col-6 pt-3 text-secondary">
                <h3 class="titulo">Artículos Relacionados</h3>
                <ul class="lista-flechas">
                {% for a in articulos %}
                <li><a class="text-decoration-none text-secondary" href="{{ a.link }}/{{ a.id }}">{{ a.titulo }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}