{% extends "base.html" %}
{% load static %}
{% block content %}

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/impresion3d/proyecto3d/3">Impresion 3D - Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar1">
                <ul class="navbar-nav ms-auto">
                    {% for s in secciones %}
                        {% if s.link == "/impresion3d/seccion3d" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ s.link }}/{{ s.id }}">{{ s.titulo }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="contenido" class="container">
        <div class="row">

            <!-- AQUI SE CREA CUERPO DE TEXTO DE LAS SECCIONES -->
            <!-- Coloca el titulo de la seccion, junto con la descripcion -->
            <!-- Itinera por todos los articulos de esa seccion y coloca sus titulos y descripciones -->
            <div class="col-md-8">
                <h3 class="text-primary pb-2">{{ seccion.titulo }}</h3>
                {{ seccion.descripcion|safe }}
                {% for a in articulos %}
                    <div class="col-md-8">
                        <h4 class="text-primary pb-2">{{ a.titulo }}</h4>
                        {{ a.descripcion|safe }}
                    </div>
                    <div class="col-md-4">
                        {% for img in artimagen %}
                            {% if img.idArticulo_id == a.pk %}
                                <img src="{% static img.imagen %}" alt="Imagen del articulo">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <!-- AQUI SE CREA LA IMAGENEN DE LA SECCION -->
            <!-- Se coloca la imagen que este cargada en la seccion -->
            <!-- SI QUISIERAMOS MAS IMAGENES DEBERIAMOS REALIZAR UNA ITINERACION DE LAS LA DB ARTIMAGEN -->
        <!--<div class="col-md-4" id="imagen"
                 style="background-image: url('{% static seccion.imagen %}');
                         background-position: center;
                         height: 300px;
                         background-size: contain;
                         background-repeat: no-repeat">
            </div>-->
        </div>
    </div>
{% endblock %}