body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    }

a:hover {
    font-weight: bold;
}

ul.lista-flechas {
    list-style-type: none; /* Eliminar los bullets predeterminados */
    padding: 0;
}
ul.lista-flechas li {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    padding-left: 20px; /* Espacio para el nuevo bullet */
}
ul.lista-flechas li::before {
    content: '\27BD'; /* Código Unicode para la flecha hacia la derecha */
    position: absolute;
    left: 0;
    color: grey; /* Color de la flecha */
}
