{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feria de Ciencias</title>
    <style>
        .anton-sc-regular {
            font-family: "Anton SC", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header class="container-fluid bg-dark text-white text-center" style="padding-top: 3rem;">
            <p style="margin-bottom: 0;">Instituto Superior Carlos María Carena</p>
            <h1 class="anton-sc-regular">Catálogo de Proyectos</h1>
        </header>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index">
                    <img src="{% static '/img/LogoCarpeta.png' %}" style="width: 30px;")>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        {% for p in proyectos %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ p.link }}/{{ p.id }}">{{ p.nombre }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="flex-fill">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="container-fluid bg-dark text-center p-3 text-white mt-4">
            <h6>Instituto Superior Dr. Carlos María Carena | 2024</h6>
        </footer>
    </div>
</body>
</html>