{% extends "base.html" %}
{% load static %}
{% block style %}
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Asegura que el cuerpo ocupa al menos el 100% del viewport */
            background-image: url('{% static '/img/fondoIndex.png' %}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block content %}
<body>
</body>
{% endblock %}